/* 
    Document   : styles
    Created on : 12 oct. 2012, 14:15:55
    Author     : Victor
    Description:
    Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

label {
    display: inline-block;
    width: 150px;
}

body {
    font-family: calibri;
}



input[type=submit] {
    width: auto;
    padding: 9px 15px;
    background: #CE0613;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

fieldset{
    width: 40%;
}

fieldset.liste{
    width: 20%;
}

div.center{
    margin-left:25%;
    width:50%;
}

div#centerbutton{
    text-align:center;
}

